<main>
    <div class="docs-container">
        <div 
            class="doc-card" 
            *ngFor="let doc of pagedDocuments"
        >
            <div (click)="openDocumentDialog(doc)">
                <div class="doc-thumbnail">
                    <mat-icon *ngIf="doc.filetype === 'application/pdf'">picture_as_pdf</mat-icon>
                    <mat-icon *ngIf="doc.filetype === 'text/plain'">description</mat-icon>
                </div>

                <div class="doc-info">
                    <h3>{{ doc.filename }}</h3>
                    <p class="modified">Modified: {{ doc.uploaded_at | date:'mediumDate' }}</p>
                </div>
            </div>

            <div class="doc-actions">
                <button 
                    mat-icon-button 
                    (click)="confirmDelete(doc)"
                >
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <mat-paginator class="paginator"
        [length]="documents.length" 
        [pageSize]="20" 
        (page)="onPageChange($event)" 
        showFirstLastButtons>
    </mat-paginator>
</main>