<mat-paginator
  [length]="documents.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="[16]"
  (page)="onPageChange($event)">
</mat-paginator>

<div class="document-list">
  <div class="document-card" *ngFor="let doc of pagedDocuments">
    <mat-card>
      <mat-icon>{{ doc.filetype === 'application/pdf' ? 'picture_as_pdf' : 'description' }}</mat-icon>
      <mat-card-content (click)="openDocumentDialog(doc)">
        <h4>{{ doc.filename }}</h4>
        <p>{{ doc.uploaded_at | date:'short' }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button color="warn" (click)="confirmDelete(doc)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

